<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams(Currently Unavailable)</title>
    <link rel="stylesheet" href="/navbar2.css">
    <style>
        body{
            background-color: rgba(240, 253, 248, 1);
        }
        .main{
            margin: 0;
            padding: 0 20vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main img{
            height: 40vh;
        }
        p{
            text-align: center;
            font-size: 18px;
            color: #646464;
        }
        .mainbtn{
            font-size: 16px;
            line-height: 24px;
            padding: 14px 40px;
            border: 1px solid #2db84c;
            border-radius: 8px;
            background-color: #2db84c;
            color: white;
            margin-top: 2rem;
        }
        .mainbtn a{
            text-decoration: none;
            color: white;
        }

        .mainbtn:hover{
            cursor: pointer;
            background-color: #0d8e22;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="/">
            <i class="arrow"></i>
            <span>Back Home</span>
        </a>
        <img src="/logo.png" alt="">
    </nav>
    <div class="main">

        <img src="https://img.freepik.com/free-vector/empty-concept-illustration_114360-1573.jpg?t=st=1717045432~exp=1717049032~hmac=eb2bc85cdbff7f3e101c2a3e6689dd82b20b15028cf93d482adeb44d433dfebf&w=740" alt="">
        <p>
            Thank you for visiting our cricket statistics website! We are thrilled to offer you a comprehensive and detailed view of individual player stats, showcasing their performances and achievements in various matches. While we are still in the process of developing our team statistics feature, we encourage you to explore and utilize the player stats available.
        </p>
        <p>
            Stay tuned for our upcoming updates as we work hard to bring you complete team statistics, which will enhance your experience and provide a holistic view of the game. We appreciate your patience and support as we continue to improve our platform!
        </p>
        <button class="mainbtn"><a href="/dashboard">Back to dashboard</a></button>
    </div>
</body>
</html>